{% extends 'enroll/base.html' %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Clients</h2>
        <ol>
          <li><a href="../../">Home</a></li>
          <li>Clients</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->


<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our <strong>Clients</strong></h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
       {% for cl in cln %}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo">
            <img src="{{cl.client_img.url}}" class="img-fluid" alt="">
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Our Clients Section -->

{% endblock content %}